/* Общие стили для темной темы */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Стили для ссылок */
a {
    color: #bb86fc;
}

a:hover {
    color: #3700b3;
}

/* Стили для заголовков */
h1 {
    color: #ffffff;
    border-bottom: 2px solid #bb86fc;
    padding-bottom: 10px;
}

/* Стили для изображений */
img {
    display: block;
    margin: 20px 0;
    max-width: 100%;
    height: auto;
}

/* Стили для списка */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #1f1f1f;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

li:hover {
    background-color: #2c2c2c;
}

/* Стили для подписи */
footer {
    margin-top: 20px;
    color: #bb86fc;
    font-size: 14px;
}
